bin
.cache
include/SLTC.def
include/SLTC-parenthesize.str
include/SLTC-Permissive.def
include/SLTC.generated.pp.af
include/SLTC.packed.esv
include/SLTC.pp.af
include/SLTC.rtg
include/SLTC.str
include/SLTC.tbl
include/sltc.rtree
include/sltc.ctree
include/sltc.ctree.dep
include/sltc.jar
include/sltc-java.jar
editor/java/trans
editor/*.generated.*
syntax/SLTC*.generated.esv
syntax/SLTC.generated.pp
trans/*.pp.generated.str
trans/names.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str

*.aterm
syntax/Generated.sdf